body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
#banner {
  max-width: 100%;
  max-height: 100vh;
}
#infoblokk {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  z-index: 3;
}
.container {
  max-width: 1000px;
  min-width: 200px;
  margin: 0;
}
#header {
}
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 1px 4px grey;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px) saturate(180%);
}
#header-nav {
  padding: 0;
  max-width: 900px;
  margin: 0;
}
#header-nav li {
  display: inline;
  float: left;
}
.nav-item {
  position: relative;
  padding: 12px 10px 9px;
  border-bottom: solid 3px;
  border-color: transparent;
  transition: border-bottom 0.3s;
}
.openbtn {
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  color: #000;
  padding: 10px 5px;
  border: none;
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 1px 1px 4px grey;
}
.sidepanel a {
  padding: 24px 8px 24px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #000;
  display: block;
  transition: 0.3s;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
hr {
  border: 1px solid rgba(43, 174, 102, 0.5);
  margin: 0 10px;
}
.wrap {
    display: inline-block;
    position: relative;
    z-index: 1;
}
.wrap img + #header {
    position: absolute;
    bottom: 0;
    left: 0;
}
#sleek {
  color: #000;
  text-decoration: none;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 1em;
}
.nav-item:hover {
  border-bottom: solid 3px;
  border-color: rgb(43, 174, 102);
  background-color: rgba(200, 200, 200, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px) saturate(180%);
  }
#active {
  /*border-bottom: solid 3px;
  border-color: rgb(43, 174, 102);
  color: white;*/
  background-color: rgba(200, 200, 200, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px) saturate(180%);
}

#kód {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 3vw;
  color: rgb(10, 94, 42);
  font-family: Helvetica, Arial;
}
#cím {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 5vw;
  color: rgb(10, 94, 42);
  font-family: Helvetica, Arial;
}
h3 {
  font-style: Helvetica, Arial;
}
.ico {
  width: 300px;
  transition: 0.3s;
}
.ico:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 10px;
}
#soon {
  text-align: center;
  font-size: 3vw;
  font: Arial;
}
article {
  margin: 0 auto;
  padding: 5vh;
  padding-top: 2vh;
  max-width: 800px;
  font-family: Helvetica, Arial;
  line-height: 1.6;
}
#tabla {
  max-width: 900px;
  max-width: 60%;
  max-height: 100vh;
  display: block;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: 5px;
  transition: 0.3s;
}
#tabla:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button {
  background-color: rgb(43, 174, 102); /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  display: inline;
  margin-bottom: 15px;
}
.button:hover {
  cursor: pointer;
}
.b {
  background-color: rgb(43, 174, 102); /* Green */
  border: none;
  color: white;
  padding: 5px;
  border: solid 3px rgb(43, 174, 102);
  text-align: center;
  display: inline-block;
  font-size: 14px;
  display: inline;
}
.b:active {
  background-color: rgb(255, 255, 255);
  border: solid 3px rgb(43, 174, 102);
  color: rgb(43, 174, 102);
}
.b:hover {
  cursor: pointer;
}
#bt {
  text-decoration: none;
}
caption {
  font-family: Helvetica, Arial;
  font-size: 2.5vw;
}
table {
  font-family: Helvetica, Arial;
  border-collapse: collapse;
  margin: 10px auto;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
#space {
  margin-bottom: 20px;
}
#temp {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
#gt {
  text-align: center;
  text-decoration: none;
  color: black;
  /**border-bottom: 2px solid rgb(255,255,255);**/
}
#gt:hover {
  /**border-bottom: 2px solid rgb(43,174,102);**/
}
#box {
  display: block;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#box img {
  transition: transform .5s ease;
}
#box:hover img {
  transform: scale(1.1);
}
.row {
  margin: 2vh;
}
#middle {
  display: flex;
  justify-content: center;
}
#p {
  text-decoration: none;
  color: rgb(43, 173,102)
}
#p:hover {
  text-decoration: underline;
}
.post {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}
.news {
  margin: auto 0;
}
#news {
  text-align: center;
}
.news {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
#zero {
  margin: 8px;
  color: #000;
}
.line:hover {
  text-decoration: underline;
}
#ficon {
  margin-right: 5px;
}
footer {
  background-color: rgb(43, 174, 102);
  min-height: 250px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.FooterColumn {
  min-width: 200px;
  margin: auto;
}
.footer-word {
  text-align: right;
  display: inline;
}
.footerTitle {
  font-size: 2rem;
  margin-bottom: 0;
}
.footerBelow {
  padding-left: 5em;
  font-size: 1.5rem;
  margin: 0;
}
.fa:hover {
  text-decoration: underline;
}
#szec {
  margin-top: 50px;
  margin-left: 57.335px;
}
.date {
  display: inline-block;
  background: rgb(36,75,174);
  background: linear-gradient(90deg, rgba(36,75,174,1) 35%, rgba(24,60,163,1) 100%);
  color: white;
  padding: 0px 5px;
}
footer li {
  margin-left: 4px;
}
.column:hover {
  background: linear-gradient(90deg, rgba(43, 174, 102,1) 35%, #77D5A3 100%);
}
.column:hover #gt {
  color: white;
}
@media screen and (max-width: 702px) {
  .post {
    flex-wrap: wrap;
  }
  .preview-image {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width:600px) {
  #mySidepanel {
    display: none;
  }
  .openbtn {
    display: none;
  }
}
@media screen and (max-width:600px) {
  #header-nav {
    display: none;
  }
  #infoblokk {
    width: 40%;
  }
  #cím {
    font-size: 4vw;
  }
}
@media screen and (max-width:837px) {
  #sleek {
    font-size: 0.9em;
  }
}
@media screen and (max-width:920px) {
  #kapcsolatbt {
    margin-top: 10px;
  }
}
@media screen and (max-width:620px) {
  #projektbt {
    margin-top: 10px;
  }
}
